%form{html_options}
  %fieldset
    - if @title
      %legend=@title
    - if @description
      %p.description=@description
    - if @instructions
      %p.instructions=@instructions
    - @render_opts[:prefix]=@name
    - @fields.each do |field|
      =field.to_html(@render_opts)
    %button{:type=>'submit',:name=>'submit'}
      Go